.container-sm{
    height: 80px;

    
}
.row{
background-color: rgb(14, 20, 53);
height: 400px;

}

.col-6{
    height:300px;
    left:30px;
    

    
}
.col-4{
    
    height:300px;
    padding:130px;
    
}
.col{
     
    height: 200px;
    width:300px;

    left:100px;
    padding:80px;
}
.container{
    height: 80px;
    

}
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}.container-sm{
    height: 80px;

    
}
.row{
background-color: rgb(14, 20, 53);
height: 400px;

}

.col-6{
    height:300px;
    left:30px;
    

    
}
.col-4{
    
    height:300px;
    padding:130px;
    
}
.col{
     
    height: 200px;
    width:300px;

    left:100px;
    padding:80px;
}
.container{
    height: 80px;
    

}
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
